<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1029075522080-u9sn2tnrnogh7rij837lia8e3rnljak7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029075522080-u9sn2tnrnogh7rij837lia8e3rnljak7</string>
	<key>API_KEY</key>
	<string>AIzaSyBI-95Q4qzxo-ceV7-f5jfg65oWcqxUYPY</string>
	<key>GCM_SENDER_ID</key>
	<string>1029075522080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EGNS.liveSafe</string>
	<key>PROJECT_ID</key>
	<string>livesafe-f74a7</string>
	<key>STORAGE_BUCKET</key>
	<string>livesafe-f74a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029075522080:ios:966cd9eee2f40809</string>
	<key>DATABASE_URL</key>
	<string>https://livesafe-f74a7.firebaseio.com</string>
</dict>
</plist>